<header class="institutional-header">
  <div class="brand-zone">
    <img [src]="assets.branding.seguridad" alt="Seguridad - Secretaría de Seguridad y Protección Ciudadana" />
  </div>
  <h1>Kárdex Policial SSPC</h1>
  <div class="user-zone">
    <div class="user-copy">
      <strong>Administrador Kardex</strong>
      <span>Administrador</span>
    </div>
    <span class="avatar">AK</span>
    <button class="icon-button" type="button" aria-label="Cerrar sesión">
      <img [src]="assets.icons.logout" alt="" />
    </button>
  </div>
</header>
