<div class="form-grid" [formGroup]="form()">
  <label class="field"><span>Número de teléfono</span><input formControlName="telefono" inputmode="tel" placeholder="Ej. 55 1234 5678" /></label>
  <label class="field"><span>Correo electrónico</span><input type="email" formControlName="correo" placeholder="correo@dominio.gob.mx" /></label>
  <label class="field required"><span>Nombre contacto de emergencia</span><input formControlName="nombreContactoEmergencia" placeholder="Nombre completo" /></label>
  <label class="field required"><span>Contacto de emergencia</span><input formControlName="contactoEmergencia" inputmode="tel" placeholder="Ej. 55 9876 5432" /></label>
</div>
